html,body {
    padding: 0px;
    margin: 0px;
}

#push {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #e0e0e0;
}

.articlecontent {
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    /* 使用relative将父节点撑起来 */
    position: relative;
    padding: 10px;
}
/* 三角内部 */
.articlecontent:before {
    content: "";
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-color: #ddd;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    left: -16px;
    top: 12px;
    position: absolute;
}
/* 填一个白色的来形成三角 */
.articlecontent:after {
    content: "";
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    left: -15px;
    top: 12px;
    position: absolute;
    border-color: #fff;
}

.title {
    margin-top: 40px;
    font-size: 40px;
}

.info {
    font-size: 10px;
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.name {
    font-weight: 600;
    margin-right: 10px;
}

.data, .ua {
    margin-right: 10px;
    color: #999999;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border-color: #cccccc;
    opacity: .5;
}

.smallcomment .articlecontent {
    width: 823px;
}


#post .articlecontent {
    height: 44px;
    color: #888;
    font-style: italic;
    font-weight: 400;
}

.postbody {
    height: 200px;
}

#content {
    height: 200px;
    width: 100%;
}

.articles.comment.postcomment .articlecontent{ 
    height: 44px !important;
    transition-duration: .2s;
}

.none {
    height: 100px;
}

textarea {
    border-style: dashed;
    border-width: 1px 0;
    border-radius: 0;
    resize: none;
    padding: 12px;
    outline: 0;
    box-sizing: border-box;
    /* 解决字体小 */
    font-size: 16px;
    /* https://zh.wikipedia.org/wiki/%E6%97%A0%E8%A1%AC%E7%BA%BF%E4%BD%93 */
    font-family: sans-serif;
}

.submit.button {
    background-color: #354059;
    height: 34px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.postfoot {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.controls {
    /* https://codeday.me/bug/20170409/9648.html */
    margin-left: auto;
    margin-right: 4px;
    color: #999999;
}

.controls i {
    margin-right: 4px;
}