html,body {
    padding: 0px;
    margin: 0px;
}

#push {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.articlecontent {
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    /* 使用relative将父节点撑起来 */
    position: relative;
    padding: 10px;
}
/* 三角内部 */
.articlecontent:before {
    content: "";
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-color: #ddd;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    left: -16px;
    top: 12px;
    position: absolute;
}
/* 填一个白色的来形成三角 */
.articlecontent:after {
    content: "";
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    left: -15px;
    top: 12px;
    position: absolute;
    border-color: #fff;
}

.title {
    margin-top: 40px;
    font-size: 40px;
}

.info {
    font-size: 10px;
    display: flex;
    margin-bottom: 5px;
}

.name {
    font-weight: 600;
    margin-right: 10px;
}

.data, .ua {
    margin-right: 10px;
    color: #999999;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border-color: #cccccc;
    opacity: .5;
}

.smallcomment .articlecontent {
    width: 823px;
}